.dashboard-charts{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:24px;

    margin-top:24px;

}

@media(max-width:1200px){

    .dashboard-charts{

        grid-template-columns:1fr;

    }

}