.eve-table-cell {

    display: flex;

    align-items: center;

    min-height: 56px;

    color: #1E293B;

    font-size: .92rem;

}

.eve-table-cell-left {

    justify-content: flex-start;

    text-align: left;

}

.eve-table-cell-center {

    justify-content: center;

    text-align: center;

}

.eve-table-cell-right {

    justify-content: flex-end;

    text-align: right;

}