.teachers-search {
  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 24px;

  margin-bottom: 32px;
}

.teachers-search-input {
  flex: 1;
}

.teachers-search-actions {
  display: flex;

  gap: 12px;
}

@media (max-width: 900px) {
  .teachers-search {
    flex-direction: column;

    align-items: stretch;
  }

  .teachers-search-actions {
    width: 100%;

    justify-content: flex-end;

    flex-wrap: wrap;
  }
}
