.login-page{

    width:100%;

    min-height:100vh;

    background:#EEF2F7;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.login-container{

    width:100%;

    max-width:1450px;

    height:820px;

    background:white;

    border-radius:28px;

    overflow:hidden;

    display:grid;

    grid-template-columns:1fr 520px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}